
@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}
html, body {
    width: 100%;
    overflow-x: hidden; 
}

body{
    margin: 0px;
    font-family: pixel;
    background-image: url(images/paperbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 100vw;
    margin: 0px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    
}

h1{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:black;
    font-size: 50px;
    font-weight:100;
    text-shadow: 1px 1px 2px rgb(117, 117, 117);
    text-align: center;
    margin-bottom: 30px;
}


h1:hover{
    transform:scale(1.1)
}
h1 a{
    color:black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}


.navbar{
    font-family: pixel, 'Courier New', Courier, monospace;
    list-style-type:none;
    border: solid black;
    border-radius:20px;
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
    text-align: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 10px;
   
}
.navbar a{
    color:black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(117, 117, 117);
}
.navbar a:hover{
    background-color: rgb(217, 184, 0);
    transform:scale(1.2)
}
.navbar li{
    float:left;

}
@media (max-width: 600px) {
    
    .navbar a{
        padding: 5px;
    }
    .contact-container{
        height: 70vh;
    }
    body{
        margin-left:5px;
        margin-right:5px;
        
    }
    .contact-inputs{
        width: 300px;
    }

}

.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

.lyric-container{

    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: s;
    
    
    
}



mark{
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
}
mark:hover{
    background-color: rgba(255, 217, 0, 0.479);
}

.annotation {
    display: none; /* Initially hide the annotation */
    position: relative; /* Change to relative to align with the lyric */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px; /* Adjust as necessary */
    color: #555;
    font-style: italic;
    z-index: 10; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}







footer{
    font-family: pixel, 'courier new';
    color: black;
    font-size: small;
    font-weight:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-shadow: 1px 1px 2px rgb(117, 117, 117);
    background-color: gold;
    width: 100vw;
    margin: 0px;
    box-sizing: border-box;
}


footer a{
     color:black;
     text-decoration: none;
     padding: 20px;
     display: block;
     text-align: center;
}
footer a:hover{
    transform:scale(1.05);
}
