@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: pixel;
    color: yellowgreen;
    margin: 0 200px 50px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-family: pixel, 'Courier New', Courier, monospace;
    color: greenyellow;
    font-size: 50px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h1:hover {
    transform: scale(1.1);
}

h1 a {
    color: greenyellow;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar {
    font-family: pixel, 'Courier New', Courier, monospace;
    list-style-type: none;
    border: solid yellowgreen;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.navbar li {
    float: left;
}

.navbar a {
    color: greenyellow;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-shadow: 1px 1px 2px black;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background-color: rgba(153, 205, 50, 0.344);
    transform: scale(1.2);
}

.video-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 110vh;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
    padding: 20px 5%;
}

.menu {
    height: 5%;
    width: 100%;
    font-family: pixel, 'Courier New';
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
}

.box {
    border-radius: 20px;
    height: 100vh;
    width: 100%;
    font-size: medium;
    font-family: pixel, 'Courier New';
    color: rgb(0, 0, 0);
    font-weight: 100;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.742);
    background-image: url(images/paper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, margin 0.3s;
}

.box:hover {
    transform: scale(1.01);
    margin: 1px;
}

button {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-family: pixel;
    font-size: 1em;
    background: none; 
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(224, 224, 224, 0.858);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px rgb(61, 61, 61);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 10px auto;
    width: 70%;
}

.gallery:hover {
    border: 1px solid darkgray;
}

.gallery img,
.gallery video {
    width: 100%;
    height: auto;
}

.gallery .description {
    padding: 10px;
    text-align: left;
}

#box1 {
    flex-grow: 1;
}

.show {
    display: block; 
}

footer {
    font-family: pixel, 'Courier New';
    color: greenyellow;
    font-size: small;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}

footer a {
    color: greenyellow;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.05);
}

@media (max-width: 1100px) {
    body {
        margin: 0;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }
    .navbar a,
    .menu {
        padding: 5px;
        height: 10vh;
    }
    .gallery {
        width: 90%;
    }
    .box {
        padding: 10px;
    }
    .container {
        padding: 10px;
    }
}
