
@font-face {
    font-family:sixtyfour-convergence;
    src: url(fonts/SixtyfourConvergence-Regular.ttf);
}
@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: jersey15;
    src: url(fonts/Jersey15-Regular.ttf);
}
@font-face {
    font-family: arcade;
    src: url(fonts/ARCADE.TTF);
}
@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}

html{ 
    cursor: url(images/spider\ cursor.png), auto;
    height: 100%;
}

body{
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 100vh;
}
main{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    min-height:100vh;
    flex-wrap: wrap;
    overflow: auto;
    gap: 30px
    
}

.box{
    border: 0px;
    border-radius: 20px;
    width: 300px;
    min-height: 70vh;
    font-size: 1em;
    font-family: roboto-mono, 'courier new';
    color:greenyellow;
    font-size: small;
    font-weight:100;
    box-shadow: 2px 2px 5px rgb(23, 23, 23);
    box-sizing: border-box;
    overflow: auto;
    margin-top: 20px;
}

.box:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;
}

#box1{
    padding: 20px;
    
    background-color:rgba(0, 0, 0, 0.687);
    border-width: 1px;
    overflow: auto;
    flex-grow: 1;
   

}

audio[controls]{
    width: 100%;
}

#box2{
   
    background-color: rgba(255, 192, 203, 0.469);
    
    padding: 20px;
    overflow: hidden;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    


}
#box2 a{
    display: block;
    color:yellowgreen;
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    

}
#box2 a:hover{
    background-color: rgba(153, 205, 50, 0.344);
    transform:scale(1.01)
}
.hub{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    gap:5px;
    height: 40%;

}
#hub1{
    display: inline-block;
    vertical-align: middle;
    border:solid;
    color:yellowgreen;
    border-width: 1.5px;
    border-radius: 5px;
    text-decoration: none;
    width:50%;
    font-family: pixel;
    font-size:medium;
    padding:5px;
    overflow: auto;
}

#hub2{
    display: inline-block;
    vertical-align: middle;
    border:solid;
    color:yellowgreen;
    border-width: 1.5px;
    border-radius: 5px;
    text-decoration: none;
    width:50%;
    font-family: pixel;
    font-size:medium;
    padding:5px;
    overflow: auto;
}



.pet{
    float: center;
    border-radius: 1px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px
}

#box3{

    
    opacity: 90%;
    flex-grow: 1;
    text-align: center;

   
}



header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
   

}

h1{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:greenyellow;
    font-size: 50px;
    font-weight:100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h1:hover{
    transform:scale(1.1)
}
h1 a{
    color:greenyellow;
    text-decoration: none;
   
    display: block;
    text-align: center;
}


.navbar{
    font-family: pixel, 'Courier New', Courier, monospace;
    list-style-type:none;
    border: solid yellowgreen;
    border-radius:20px;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    text-align: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 10px;
   
}
.navbar a{
    color:greenyellow;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.navbar a:hover{
    background-color: rgba(153, 205, 50, 0.344);
    transform:scale(1.2)
}
.navbar li{
    float:left;

}

@media (max-width: 600px) {
    
    .navbar a{
        padding: 5px;
    }
    body{
        margin-left: 20px;
        margin-right: 20px;
    }

}

h4{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:greenyellow;
    font-size: large;
}

p{
    font-family: "pixel", 'courier new';
    color:greenyellow;
    font-size: medium;
    font-weight:100;

}
pre{
    font-family: "pixel", 'courier new';
    color:greenyellow;
    font-size: small;
    font-weight:100;
}
#p1{
    font-family:"pixel", "courier new";
    color: greenyellow;
    font-size: large;
    font-weight: regular;
    font-style: regular;
}

audio{
    height: 30px;
}

.hero{
    min-height: 100%;
    position: relative;
}
.video-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}
footer{
    font-family: pixel, 'courier new';
    color:greenyellow;
    font-size: small;
    font-weight:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
    
}
footer a{
     color:greenyellow;
     text-decoration: none;
     padding: 20px;
     display: block;
     text-align: center;
}
footer a:hover{
    transform:scale(1.05);
}
