@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}

body{
    background-color: black;
    font-family: pixel, 'Courier New', Courier, monospace;
    color:greenyellow;
    background-image: url(images/web\ art\ 10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
   
    
}

@media (max-width: 600px){
    body{
        background-color: black;
        font-family: pixel, 'Courier New', Courier, monospace;
        color:greenyellow;
        background-image: url(images/web\ art\ 22.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100%;
       
        
    }
}

h1{
    margin-bottom: 60px;
   
    
    
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

a{
    color:greenyellow;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

a:hover{
    transform:scale(1.2)
}
