@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
   

}

h1{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:red;
    font-size: 50px;
    font-weight:100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h1:hover{
    transform:scale(1.1)
}
h1 a{
    color:red;
    text-decoration: none;
   
    display: block;
    text-align: center;
}


.navbar{
    font-family: pixel, 'Courier New', Courier, monospace;
    list-style-type: none;
    border: solid red;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
   
}
.navbar a{
    color:red;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    flex: 1;
}
.navbar a:hover{
    background-color: rgba(255, 0, 0, 0.27);
    transform:scale(1.2)
}


@media (max-width: 700px) {
    
    .navbar a{
        padding: 10px;
    }
}

@media (max-width: 600px){
    .navbar {
        width: 80%;
    }
}

body{
    background-image: url(gifs/fire\ 2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    background-position: bottom center;
    font-family: pixel;
    color:red;
}

main{
    text-align: center;
    margin: 50px;
}

@media (max-width: 600px){
    main{
        margin-top: 50px;
        margin: 10px;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer{
    font-family: pixel, 'courier new';
    color:red;
    font-size: small;
    font-weight:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
    
}
footer a{
     color:red;
     text-decoration: none;
     padding: 20px;
     display: block;
     text-align: center;
}
footer a:hover{
    transform:scale(1.05);
}

