@font-face {
    font-family:sixtyfour-convergence;
    src: url(fonts/SixtyfourConvergence-Regular.ttf);
}
@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: jersey15;
    src: url(fonts/Jersey15-Regular.ttf);
}
@font-face {
    font-family: arcade;
    src: url(fonts/ARCADE.TTF);
}
@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}

body{
    background-color: rgba(154, 154, 154, 0.479);
    min-height: 100vh;
    font-family: "pixel", roboto-mono;
    color: greenyellow;
    padding-top: 60px;
    margin:0px;
}

h4{
    font-family: "pixel", roboto-mono;
    color: greenyellow;
    font-size:x-large;
    position:relative;
    left: 6px;
    top: 3px;
}

#icon{
    float:left;
    border: solid;
    border-radius: 50px;
    border-color:#5e554b;
    margin-left:-10px;
    margin-top: 10px;
    position: relative;
    
}

#icon1{
    float:left;
    border: solid;
    border-radius: 50px;
    border-color:#5e554b;
    margin-left:-10px;
    position: relative;
    top:-5.5px;
    
}



header{
    position:fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.348);
    z-index: 100;
    width: 100%;
    padding:0px;
    margin: 0px;
    text-align: center;

    
}

p{
    position:relative;
    bottom: 20px;
    left: 20px;
    margin-right: 5px;
    margin-left: 5px;

}

h3{
    position:relative;
    bottom: 15px;
    color:blanchedalmond;
    font-style: italic;
}
div{
    display:block;
    unicode-bidi: isolate;
}

#outline{
    text-shadow: 1px 0px #5e554b, -1px 0px #5e554b, 0px 1px #5e554b, 0px -1px #5e554b, 0 0;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 800;
    margin-left:20px;
    margin-right:20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
