
@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}


body{
    background-color: rgba(154, 154, 154, 0.479);
    min-height: 100vh;
    font-family: "pixel", roboto-mono;
    color: greenyellow;
    padding:0px;
    margin:0px;
}

h4{
    font-family: "pixel", roboto-mono;
    color: greenyellow;
    font-size:x-large;
    position:relative;
    
}

#icon{
    float:left;
    border: solid;
    border-radius: 50px;
    border-color:#5e554b;
    margin-left:-10px;
    margin-top: 10px;
    position: relative;
    
}

#icon1{
    float:left;
    border: solid;
    border-radius: 50px;
    border-color:#5e554b;
    margin-left:-10px;
    position: relative;
    top:-5.5px;
    
}



header{
    position:fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.348);
    z-index: 1;
    width: 100%;
    padding:0px;
    margin: 0px;
    text-align: center;
    text-shadow: .5px .5px .5px black;
    

    
}
a{
    text-decoration: none;
    color:yellowgreen;
}
a :hover{
    transform:scale(1.1)
}

p{
    display: inline;
    
    

}

h3{
    position:relative;
    bottom: 15px;
    color:blanchedalmond;
    font-style: italic;
}
div{
    display:block;
    unicode-bidi: isolate;
}

#outline{
    text-shadow: 1px 0px #5e554b, -1px 0px #5e554b, 0px 1px #5e554b, 0px -1px #5e554b, 0 0;
    color: #fff;
    
    
    margin-left:20px;
    margin-right:20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
