
@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}

p{
    display: inline
}

a{
    color:yellowgreen;
    
}

section{
    width:100%;
    padding: 10px
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    min-height:80vh;
    flex-wrap: wrap;
    overflow: auto;
    gap: 30px;
    padding: 20px;
}

.box{
    border: 0px;
    border-radius: 20px;
    min-height: 70vh;
    width: 300px;
    font-size: 1em;
    font-family: pixel, 'courier new';
    color:greenyellow;
    font-size: medium;
    font-weight:100;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    box-sizing: border-box;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.742);
    justify-content: center;
    padding: 20px;
    transition: transform 0.1s;
    

}
.box:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;
}

#box1{
    flex-grow: 4;
    
}
#box2{
    flex-grow: 1;
    
}



