@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}



main{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
}
.box{
    display: block;
    background-color: rgba(0, 0, 0, 0.811);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    transition: transform 0.3s;
}

.box:hover{
    transform: scale(1.01);
}

.container{
    display: flex;
    gap: 5px;
    justify-content: center;
}

hr{
    border-color: yellowgreen;
}

a{
    color:goldenrod;
}

#index{
    flex-grow: 2;
    text-align: center;
    height: 50%;
    
    
}

#content{
    flex-grow: 4;
    overflow: auto;
}

button {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    font-family: pixel;
    font-size: 1em;
    background: none;
    color:yellowgreen;
    margin: 5px;
    
    
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(153, 205, 50, 0.494);
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lyrics{
    padding: 20px;
}




.container{
    max-width: 200px;
    max-height: 200px;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 20px 15px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.817);
    border-radius: 10px;
}

#spotify{
    opacity: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.667);
    width: 60%
}

.cover{
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 30s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-100%);
    }
    15%{
        transform: translateX(-100%);
    }
    20%{
        transform: translateX(-200%);
    }
    25%{
        transform: translateX(-200%);
    }
    30%{
        transform: translateX(-300%);
    }
    35%{
        transform: translateX(-300%)
    }
    40%{
        transform: translate(-400%);
    }
    45%{
        transform: translate(-400%);
    }
    50%{
        transform: translate(-500%);
    }
    55%{
        transform: translate(-500%);
    }
    60%{
        transform: translate(0);
    }
    65%{
        transform: translate(0);
    }
    70%{
        transform: translate(0);
    }
    75%{
        transform: translate(0);
    }
    80%{
        transform: translate(0);
    }
    95%{
        transform: translate(0);
    }
    100%{
        transform: translate(0);
    }

}

img{
    width: 100%;
}
@media (max-width: 1000px){
    main{
        margin-left: 50px;
        margin-right: 50px;
    }
}

   

@media (max-width: 600px){

    main{
        margin: 20px !important;
        margin-left: 20px !important;
        margin-right: 20px;
        flex-direction: column;
        height: 150vh;
    }
}

