
@font-face {
    font-family: pixel;
    src: url(fonts/px10.ttf)
}
* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;

}

body{
    margin: 0px;
    font-family: pixel;
    background-image: url(images/paperbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 100%;
    margin: 0px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    
}

h1{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:black;
    font-size: 50px;
    font-weight:100;
    text-shadow: 1px 1px 2px rgb(117, 117, 117);
    text-align: center;
    margin-bottom: 30px;
}


h1:hover{
    transform:scale(1.1)
}
h1 a{
    color:black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}


.navbar{
    font-family: pixel, 'Courier New', Courier, monospace;
    list-style-type: none;
    border: solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    
   
}
.navbar a{
    color:black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.68);
    flex: 1;
}
.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.143);
    transform:scale(1.2)
}


@media (max-width: 700px) {
    
    .navbar a{
        padding: 10px;
    }
}
@media (max-width: 600px){
    .navbar {
        width: 75%;
    }
}
@media (max-width: 600px) {
    
    .contact-container{
        height: 70vh;
    }
    body{
        margin-left:5px;
        margin-right:5px;
        
    }
    .contact-inputs{
        width: 300px;
    }

}

main{
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10px;

    
    
}

@media (max-width: 600px){
    main{
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    body{
        margin: 0 auto;
    }
    

}

    


@media (max-width: 1200px){
    main{
        margin: 0px auto;
        
        padding-left: 75px;
        padding-right: 75px;
        width: 100%;
    }
    body{
        margin: 0 auto;
    }
    

}
.container1{
    flex-grow: 5; 
    background-color: rgba(245, 245, 245, 0.92);
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    padding: 20px;
    border-radius: 20px;
    
}

.container2{
    flex-grow: 1; 
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.92);
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    height: 50%;
    

}




.lyric-container{

    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}



mark{
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
}
mark:hover{
    background-color: rgba(255, 217, 0, 0.479);
}

.annotation {
    display: none; 
    position: relative; 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px; 
    color: #555;
    font-style: italic;
    z-index: 10; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}



.menu {
    height: 50%;
    width: 100%;
    font-family: pixel, 'courier new';
    color: rgb(0, 0, 0);
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    
    
}

button {
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-family: pixel;
    font-size: 1em;
    background: none;
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(224, 224, 224, 0.858);
}

.video-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
}


footer{
    font-family: pixel, 'courier new';
    color: black;
    font-size: small;
    font-weight:100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-shadow: 1px px 2px rgb(117, 117, 117);
    background-color: gold;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.816);
}


footer a{
     color:black;
     text-decoration: none;
     padding: 20px;
     display: block;
     text-align: center;
     margin: 0px;
}
footer a:hover{
    transform:scale(1.05);
}
