
@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}

html{ 
    cursor: url(../images/spider6.png), auto;
    height: 100%;
}

body{
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 100vh;
}
main{
    margin: 0px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    min-height:100vh;
    flex-wrap: wrap;
    
    gap: 30px
    
}

.box{
    border: 0px;
    border-radius: 20px;
    width: 300px;
    min-height: 70vh;
    font-size: 1em;
    font-family: pixel, 'courier new';
    
    font-size: small;
    font-weight:100;
    
    box-sizing: border-box;
    
    margin-top: 20px;
    transition: transform 0.1s;
    
}

#spotify{
    box-shadow: 2px 2px 5px rgb(23, 23, 23);
    

}

#spotify:hover{
    transform:scale(1.01);
}

#box1:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;
}
#box2:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;
}
.pet:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;

}


#box1{
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(23, 23, 23);
    
    background-color:rgba(0, 0, 0, 0.687);
    border-width: 1px;
    overflow: auto;
    flex-grow: 1;
   

}

audio[controls]{
    width: 100%;
}

#box2{
   
    background-color: rgba(255, 192, 203, 0.469);
    padding: 20px;
    overflow: hidden;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    min-height: 800px;
    box-shadow: 2px 2px 5px rgb(23, 23, 23);

}


.counter{
    box-shadow:none;
}




.hub{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    gap:5px;
    height: 40%;
    
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.655);
    
    border-radius: 10px;
    opacity: 90%;
    font-family: pixel;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    text-align: center;
    
    

}

#updatebox{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.531);
}


#hub:hover{
    transform: scale(1.01);
}

#hub1{
    display: inline-block;
    vertical-align: middle;
    
    border-width: 1.5px;
    border-radius: 5px;
    text-decoration: none;
    width:50%;
    font-family: pixel;
    font-size:medium;
    padding:5px;
    overflow: auto;
    
}

#hub2{
    display: inline-block;
    vertical-align: middle;
    
    border-width: 1.5px;
    border-radius: 5px;
    text-decoration: none;
    width:50%;
    font-family: pixel;
    font-size:medium;
    padding:5px;
    overflow: auto;
   
}



.pet{
    float: center;
    border-radius: 20px;
    margin-top: 10px;
    
}

#jiangyou{
    align-items: center;
    border-radius: 20px;
    margin-bottom: -1%;
    box-shadow: 2px 2px 5px rgb(23, 23, 23);
    
 
    
}

#box3{

    
    opacity: 90%;
    flex-grow: 1;
    text-align: center;
   
}






@media (max-width: 800px) {
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
      
}



h4{
    font-family: pixel, 'Courier New', Courier, monospace;
    color:greenyellow;
    font-size: large;
}
 
p{
    font-family: "pixel", 'courier new';
    color:greenyellow;
    font-size: medium;
    font-weight:100;

}
pre{
    font-family: "pixel", 'courier new';
    color:greenyellow;
    font-size: small;
    font-weight:100;
}
#p1{
    font-family:"pixel", "courier new";
    color: greenyellow;
    font-size: large;
    font-weight: regular;
    font-style: regular;
}

audio{
    height: 30px;
}

.hero{
    min-height: 100%;
    position: relative;
}

.webring{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:pixel;
    color: greenyellow;
}

