
*{
    color: white !important;
}


.navbar{
    border: solid white !important;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.358) !important;
}


#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    text-shadow: .5px .5px 1px rgba(88, 88, 88, 0.488);
    font-size: 25px;
}
    
#button{
    padding-left: 75px;
    padding-right: 75px;
    height: 50px;
    font-size: 25px;
    font-family: pixel;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 0);
    box-shadow: 1px 1px 5px rgba(88, 88, 88, 0.488);
    text-shadow: 1px 1px 5px rgba(88, 88, 88, 0.488);
    color: white;
    border-color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.824);
    transition: transform 0.1s;
}
#button:hover{
    background-color: rgba(255, 255, 255, 0.601);
    transform:scale(1.1)
}


#lyric-box{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.824);
}


