@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}

*{
    color: red !important;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
   

}




h1 a{
    color:red;
}


.navbar{
    border: solid red !important;
   
}

.navbar a:hover{
    background-color: rgba(255, 0, 0, 0.377) !important;
}


body{
    background-image: url(../gifs/fire\ 2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    background-position: bottom center;
    font-family: pixel;
    color:red;
}

main{
    text-align: center;
    margin: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px){
    main{
        margin-top: 30px;

    }
}



