@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}
body{
    min-height: 100vh;
}


.newsletter{
    background: rgba(0, 0, 0, 0.698);
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    transform: transition 0.1s;
}

.newsletter:hover{
    transform: scale(1.01);
}

.newsletter hr{
    width: 50px;
    margin: auto;

}

.newsletter p {
    margin: 30px;
}

.newsletter input{
    border-radius: 20px;
    background-color: transparent;
    padding: 0 20px;
    border-color: yellowgreen;
    width: 80%;
    height: 50px;
    color: greenyellow;
    font-family: pixel;
    
}

.newsletter button{
    border-radius: 20px;
    height: 40px;
    width: 20%;
    background-color: transparent;
    color: yellowgreen;
    border-color: yellowgreen;
    font-family: pixel;
    margin-top: 10px;



}

#autocomplete-results{
    margin-top: 20px;
    margin-bottom: 10px;
}

span{
    color: yellowgreen;
    margin-top: 20px;
    display: block;
}


