@font-face {
    font-family: pixel;
    src: url(../fonts/px10.ttf)
}
body{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    height: 100vh

}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

.box{
    align-items: center;
    border: 0px;
    border-radius: 20px;
    height: auto;
    width: 500px;
    font-weight:100;
    box-shadow: 1px 1px 5px rgb(23, 23, 23);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.742);
    justify-content: center;
    padding: 20px;
    transition: transform 0.1s;

}
.box:hover{
    transform:scale(1.01);
    margin-left: 1px;
    margin-right: 1px;
}

#box1{
    flex-grow: 1;
    
}
#box2{
    flex-grow: 1;
    
}
#box2 a{
    color: yellowgreen;
    
}

.hub{
   
   display: flex;
   gap: 5px;

}
#hub1{
   flex:1;
   border: 1px solid cornflowerblue;
   border-radius: 10px;
   padding-left: 0px;
   padding-right: 10px;
   color:cornflowerblue;
   text-align: left;
   
    
}

#hub2{
    flex: 1;
    border: 1px solid tomato;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 10px;
    color:tomato;
    
    
}

h3{
    padding-left: 20px;
}


audio[controls]{
    width: 100px;
    height: 17px;
}

main{
    margin-left: 100px;
    margin-right: 100px;
}


@media (max-width: 1000px){
    main{
        margin-left: 50px;
        margin-right: 50px;
    }
 
}

   

@media (max-width: 600px){

    main{
        margin-left: 20px ;
        margin-right: 20px;
       
    }
   
}

